<%- include ("partials/_header.ejs") %>




    <form method="post" action="/user/login">



        <label for="email">Email:</label>
        <input type="email" name="email">
        <br><br>


        <label for="password">Password:</label>
        <input type="password" name="password">
        <br><br>



        <button type="submit">Submit</button>
    </form>




    <%- include ("partials/_footer.ejs") %>